.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item {
  background: var(--color-bg-varient);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio_item:hover {
  border-color: var(--color--primary-varient);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

.portfolio_item h3 {
  margin-top: 0.5rem;
}

.portfolio_item h6 {
  margin: 0.5rem 0 0.5rem;
  font-weight: 400;
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-top: auto; /* Pushes the CTA to the bottom */
  text-align: center;
}

/*-----media query (medium device)----   */

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* media query(small devices)  */

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
